<h1 mat-dialog-title> Ajouter de la nourriture</h1>

<mat-dialog-content>
<mat-form-field>
  <mat-label>Enter your name</mat-label>
  <input matInput #nameInput>
</mat-form-field>
<button mat-button (click)="getFoodListBYName()">Get Name</button>

<mat-form-field *ngIf="options.length != 0">
  <mat-select placeholder="Select an option" [formControl]="myControl" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let option of options | filter: searchValue" [value]="option">
      {{ option.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Enter your quantity</mat-label>
  <input matInput #quantityInput>
</mat-form-field>
<button mat-button (click)="addFood()">Add Food</button>

</mat-dialog-content>
