<form [formGroup]="weightForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput type="number" formControlName="weight" placeholder="Enter your weight">
    <mat-error *ngIf="weightForm.get('weight')?.hasError('required')">Weight is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Save</button>
</form>


<div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
