form {
  max-width: 500px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-select {
  width: 100%;
}

button[type="submit"] {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
    padding: 10px;
  }
}
