#menuBox{
  border: white solid 3px;
  margin: 50px;
}
#menuBoxTitle{
  text-align: center;
  border-bottom: white solid 3px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#menuBoxAddFoodButton {
  display: block;
  margin: 0 auto;
}

#menuTotalNutriment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#menuTotalNutriment > p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

